* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#header_container {
  width: 1165px;
  margin: auto;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bdb5af;
  margin-bottom: 100px;
}

#logo {
  width: 582px;
  padding-top: 25px;
  padding-bottom: 20px;
}

#menu {
  width: 582px;
  display: flex;
  justify-content: flex-end;
}

#menu li {
  padding-top: 32px;
  padding-bottom: 20px;
  padding-right: 25px;
  float: left;
  list-style: none;
}

#menu li a {
  text-decoration: none;
  color: black;
}

#menu button {
  width: 100px;
  margin-top: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #30488f;
  background-color: #ffff;
  border: 1px solid #30488f;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

#menu button img {
  padding-left: 10px;
  padding-right: 7px;
}

#menu button a {
  text-decoration: none;
  color: #30488f;
}

#menu button p {
  line-height: 21px;
}

#menu button:hover {
  background-color: #30488f;
}

#menu button:hover a {
  color: white;
}

#menu button:hover img {
  display: none;
}

#menu button:hover #logo_bianco {
  display: block;
}

#menu #logo_bianco {
  display: none;
}

.container {
  width: 1165px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
}

.container img {
  padding-left: 15px;
  height: 350px;
}

.title h2 {
  line-height: 70px;
  color: #58402c;
  font-size: 50px;
  margin-bottom: 30px;
}

.title p {
  line-height: 30px;
  color: #58402c;
  font-size: 20px;
  padding-right: 130px;
}

.login {
  width: 400px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.login p {
  color: lightgrey;
  font-size: 14px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.login button {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #30488f;
  background-color: #ffff;
  border: 1px solid #30488f;
  border-radius: 8px;
}

.email p {
  font-size: 13px;
  margin-top: 20px;
  color: #58402c;
  float: left;
}

.email i {
  padding-left: 10px;
  margin-top: 20px;
}

.section_1 {
  height: 500px;
  background-color: #ffe7d2;
}

