* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#header_container {
  width: 1165px;
  margin: auto;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bdb5af;
  margin-bottom: 100px;
}

#logo {
  width: 582px;
  padding-top: 25px;
  padding-bottom: 20px;
}

#menu {
  width: 582px;
  display: flex;
  justify-content: flex-end;
}

#menu li {
  padding-top: 32px;
  padding-bottom: 20px;
  padding-right: 25px;
  float: left;
  list-style: none;
}

#menu li a {
  text-decoration: none;
  color: black;
}

#menu button {
  width: 100px;
  margin-top: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #30488f;
  background-color: #ffff;
  border: 1px solid #30488f;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

#menu button img {
  padding-left: 10px;
  padding-right: 7px;
}

#menu button a {
  text-decoration: none;
  color: #30488f;
}

#menu button p {
  line-height: 21px;
}

#menu button:hover {
  background-color: #30488f;
}

#menu button:hover a {
  color: white;
}

#menu button:hover img {
  display: none;
}

#menu button:hover #logo_bianco {
  display: block;
}

#menu #logo_bianco {
  display: none;
}

.container {
  width: 1165px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
}

.container img {
  padding-left: 15px;
  height: 350px;
}

.container_2 {
  margin-bottom: 150px;
}

.title h2 {
  line-height: 70px;
  color: #58402c;
  font-size: 50px;
  margin-bottom: 30px;
}

.title p {
  line-height: 30px;
  color: #58402c;
  font-size: 20px;
  padding-right: 130px;
}

.login {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.login span {
  color: lightgrey;
  font-size: 14px;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.login button {
  width: 200px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #30488f;
  background-color: #30488f;
  border: 1px solid #30488f;
  border-radius: 8px;
}

.login button p {
  margin-top: 3px;
}

.login button img {
  height: 20px;
  float: left;
}

.login button a {
  text-decoration: none;
  color: white;
}

.login button:hover {
  background-color: #233569;
}

.email p {
  font-size: 13px;
  margin-top: 20px;
  color: #58402c;
  float: left;
}

.email i {
  padding-left: 10px;
  margin-top: 20px;
}

.container_800 {
  width: 1165px;
  margin: auto;
}

.section_1 {
  background-color: #ffe7d2;
}

.title_2 {
  line-height: 40px;
  font-size: 21px;
  margin: auto;
  padding-top: 80px;
  padding-left: 260px;
  padding-right: 260px;
  text-align: center;
  color: #58402c;
}

.image_col {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  margin-bottom: 110px;
}

.image_col .image1 {
  width: 300px;
  margin-left: 100px;
}

.image_col .image1 img {
  height: 100px;
  padding-left: 50px;
}

.image_col .image2 {
  width: 300px;
  margin-left: 30px;
  margin-right: 20px;
}

.image_col .image2 img {
  height: 100px;
  padding-left: 70px;
}

.image_col .image3 {
  width: 300px;
}

.image_col .image3 img {
  height: 100px;
  padding-left: 90px;
}

.image_col p {
  margin-top: 30px;
  text-align: center;
}

.large_image {
  border-bottom: 1px solid grey;
}

.large_image img {
  margin-left: 35%;
  margin-right: 50%;
  height: 300px;
  margin-bottom: 100px;
}

.large_image2 img {
  margin-left: 35%;
  margin-right: 50%;
  height: 300px;
}

.large_image2 h3 {
  line-height: 40px;
  font-size: 21px;
  margin: auto;
  padding-top: 80px;
  padding-left: 180px;
  padding-right: 260px;
  padding-bottom: 50px;
  text-align: center;
  color: #58402c;
}

.feedback {
  margin-left: 10%;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.image_colum img {
  height: 450px;
}

.description {
  margin-left: 30px;
}

.description h3 {
  line-height: 40px;
  font-size: 25px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
  color: #58402c;
}

.description p {
  line-height: 40px;
  font-size: 20px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
  color: #58402c;
}

.description a {
  font-size: 20px;
  color: #3048ac;
  text-decoration: none;
}

.description i {
  color: #3048ac;
}

.description img {
  margin-left: 40px;
  margin-top: 10px;
  height: 200px;
}

.surveys {
  margin-left: 24%;
  margin-top: 150px;
  margin-bottom: 130px;
  display: flex;
  flex-direction: row;
}

.description img {
  height: 250px;
}

.section_3 {
  background-color: #ffe7d2;
}

#title {
  width: 630px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
}

#title h3 {
  padding-bottom: 20px;
  font-size: 40px;
  padding-left: 75px;
  padding-right: 10px;
  line-height: 40px;
  color: #58402c;
  float: left;
}

#title img {
  height: 40px;
  float: left;
}

.column {
  width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block_quote {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 630px;
  background-color: white;
  border-radius: 9px;
  border: 1px solid lightgrey;
  position: relative;
}

.text_quote {
  padding-top: 30px;
  width: 550px;
  margin: auto;
}

.text_quote p {
  padding-bottom: 15px;
}

.icon_quote img {
  height: 50px;
  position: absolute;
  margin-top: -26px;
  margin-left: -3px;
}

.team_found {
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.team_found h4 {
  font-size: 14px;
  color: #3048ac;
  padding-top: 15px;
  padding-left: 10px;
}

.team_found p {
  padding-left: 10px;
  font-size: 12px;
}

.avatar {
  padding-left: 20px;
  padding-top: 10px;
}

.avatar img {
  height: 40px;
}

.founders_description {
  display: flex;
  flex-direction: column;
}

