#header_container {
  width: 1165px;
  margin: auto;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bdb5af;
  margin-bottom: 100px;
}

#logo {
  width: 582px;
  padding-top: 25px;
  padding-bottom: 20px;
}

#menu {
  width: 582px;
  display: flex;
  justify-content: flex-end;

  li {
    padding-top: 32px;
    padding-bottom: 20px;
    padding-right: 25px;
    float: left;
    list-style: none;

    a {
      text-decoration: none;
      color: black;
    }
  }
  button {
    width: 100px;
    margin-top: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: $button_blue;
    background-color: #ffff;
    border: 1px solid $button_blue;
    border-radius: 8px;
    display: flex;
    flex-direction: row;

    img {
      padding-left: 10px;
      padding-right: 7px;
    }

    a {
      text-decoration: none;
      color: $button_blue;
    }

    p {
      line-height: 21px;
    }

    &:hover {
      background-color: $button_blue;

      a {
        color: white;
      }

      img {
        display: none;
      }

      #logo_bianco {
        display: block;
      }
    }
  }

  #logo_bianco {
    display: none;
  }
}
