#header_container {
  width: 1165px;
  margin: auto;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bdb5af;
  margin-bottom: 100px;
}

#logo {
  width: 582px;
  padding-top: 25px;
  padding-bottom: 20px;
}

#menu {
  width: 582px;
  display: flex;
  justify-content: flex-end;

  li {
    padding-top: 32px;
    padding-bottom: 20px;
    padding-right: 25px;
    float: left;
    list-style: none;

    a {
      text-decoration: none;
      color: black;
    }
  }
  button {
    width: 100px;
    margin-top: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #30488f;
    background-color: #ffff;
    border: 1px solid #30488f;
    border-radius: 8px;
    display: flex;
    flex-direction: row;

    img {
      padding-left: 10px;
      padding-right: 7px;
    }

    a {
      text-decoration: none;
      color: #30488f;
    }

    p {
      line-height: 21px;
    }

    &:hover {
      background-color: #30488f;

      a {
        color: white;
      }

      img {
        display: none;
      }

      #logo_bianco {
        display: block;
      }
    }
  }

  #logo_bianco {
    display: none;
  }
}

.container {
  width: 1165px;
  height: 650px;
  margin: auto;
  display: flex;
  flex-direction: row;

  img {
    padding-left: 15px;
    height: 350px;
  }
}

.main_sx {
  h2 {
    line-height: 70px;
    color: #58402c;
    font-size: 50px;
    margin-bottom: 30px;
  }

  p {
    line-height: 30px;
    color: #58402c;
    font-size: 20px;
    padding-right: 130px;
  }
}

.main_dx {
  width: 582px;
  display: flex;
  justify-content: flex-end;
}
