
.container {
  width: 1165px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;

  img {
    padding-left: 15px;
    height: 350px;
  }
}

.title {
  h2 {
    line-height: 70px;
    color: #58402c;
    font-size: 50px;
    margin-bottom: 30px;
  }

  p {
    line-height: 30px;
    color: #58402c;
    font-size: 20px;
    padding-right: 130px;
  }
}

.login {
  margin-top: 30px;
  display: flex;
  flex-direction: row;

  span {
    color: lightgrey;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  button {
    width: 200px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #30488f;
    background-color: #30488f;
    border: 1px solid #30488f;
    border-radius: 8px;

    p {
      margin-top: 3px;
    }

    img{
      height: 20px;
      float: left;
    }

    a {
      text-decoration: none;
      color: white;
    }

    &:hover {
      background-color: #233569;
    }
  }
}

.email {

  p {
    font-size: 13px;
    margin-top: 20px;
    color: #58402c;
    float: left;
  }

  i {
    padding-left: 10px;
    margin-top: 20px;
  }
}

.section_1 {
  height: 500px;
  background-color: #ffe7d2;
}

.title_2 {
  line-height: 40px;
  font-size: 21px;
  margin: 80px auto;
  padding-left: 260px;
  padding-right: 260px;
  text-align: center;
  color: #58402c;
}
