
.container {
  width: 1165px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;

  img {
    padding-left: 15px;
    height: 350px;
  }
}

.container_2 {
  margin-bottom: 150px;
}

.title {
  h2 {
    line-height: 70px;
    color: $text_brown;
    font-size: 50px;
    margin-bottom: 30px;
  }

  p {
    line-height: 30px;
    color: $text_brown;
    font-size: 20px;
    padding-right: 130px;
  }
}

.login {
  margin-top: 30px;
  display: flex;
  flex-direction: row;

  span {
    color: lightgrey;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  button {
    width: 200px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: $button_blue;
    background-color: $button_blue;
    border: 1px solid $button_blue;
    border-radius: 8px;

    p {
      margin-top: 3px;
    }

    img{
      height: 20px;
      float: left;
    }

    a {
      text-decoration: none;
      color: white;
    }

    &:hover {
      background-color: #233569;
    }
  }
}

.email {

  p {
    font-size: 13px;
    margin-top: 20px;
    color: $text_brown;
    float: left;
  }

  i {
    padding-left: 10px;
    margin-top: 20px;
  }
}
.container_800 {
  width: 1165px;
  margin: auto;
}
.section_1 {
  background-color: $section_color;
}

.title_2 {
  line-height: 40px;
  font-size: 21px;
  margin:auto;
  padding-top: 80px;
  padding-left: 260px;
  padding-right: 260px;
  text-align: center;
  color: $text_brown;
}

.image_col {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  margin-bottom: 110px;

  .image1 {
    width: 300px;
    margin-left: 100px;

    img {
      height: 100px;
      padding-left: 50px;
    }
  }

  .image2 {
    width: 300px;
    margin-left: 30px;
    margin-right: 20px;

    img {
      height: 100px;
      padding-left: 70px;
    }
  }

  .image3 {
    width: 300px;

    img {
      height: 100px;
      padding-left: 90px;
    }
  }

  p {
    margin-top: 30px;
    text-align: center;
  }
}

.large_image {
  border-bottom: 1px solid grey;

  img {
    margin-left: 35%;
    margin-right: 50%;
    height: 300px;
    margin-bottom: 100px;
  }
}

.large_image2 {

  img {
    margin-left: 35%;
    margin-right: 50%;
    height: 300px;
  }
  h3 {
    line-height: 40px;
    font-size: 21px;
    margin:auto;
    padding-top: 80px;
    padding-left: 180px;
    padding-right: 260px;
    padding-bottom: 50px;
    text-align: center;
    color: $text_brown;
  }
}

.feedback {
  margin-left: 10%;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.image_colum {
  img {
    height: 450px;
  }
}

.description {
  margin-left: 30px;
  h3 {
    line-height: 40px;
    font-size: 25px;
    padding-right: 30px;
    margin-bottom: 20px;
    line-height: 30px;
    color: $text_brown;
  }

  p {
    line-height: 40px;
    font-size: 20px;
    padding-right: 30px;
    margin-bottom: 20px;
    line-height: 30px;
    color: $text_brown;
  }

  a {
    font-size: 20px;
    color: $link_blue;
    text-decoration: none;
  }

  i {
    color: $link_blue;
  }

  img {
    margin-left: 40px;
    margin-top: 10px;
    height: 200px;
  }
}

.surveys {
  margin-left: 24%;
  margin-top: 150px;
  margin-bottom: 130px;
  display:flex;
  flex-direction: row;
}

.description{
  img {
    height: 250px;
  }
}

.section_3 {
  background-color: $section_color;
}
#title {
  width: 630px;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  h3{
      padding-bottom: 20px;
      font-size: 40px;
      padding-left: 75px;
      padding-right: 10px;
      line-height: 40px;
      color: $text_brown;
      float: left;
    }
  img {
    height: 40px;
    float: left;
  }
}

.column {
  width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block_quote {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 630px;
  background-color: white;
  border-radius: 9px;
  border: 1px solid lightgrey;
  position: relative;
}

.text_quote {
  padding-top: 30px;
  width: 550px;
  margin: auto;
  p {
    padding-bottom: 15px;
  }
}

.icon_quote {
  img {
    height: 50px;
    position: absolute;
    margin-top: -26px;
    margin-left: -3px;
  }
}

.team_found {
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  h4 {
    font-size: 14px;
    color: $link_blue;
    padding-top: 15px;
    padding-left: 10px;
  }
  p {
    padding-left: 10px;
    font-size: 12px;
  }
}

.avatar {
  padding-left: 20px;
  padding-top: 10px;
  img {
    height: 40px;
  }
}

.founders_description {
  display: flex;
  flex-direction: column;
}
